.container{
  width: 500px;
}
.form {
  width: 90%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: content-box;

  &-item {
    margin-bottom: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }


}