.navigation {
  background-color: rgba(209, 201, 255, 1);
  display: flex;
 padding: 1.2rem;
  align-items: center;
  justify-content: space-between;
  color: white;

  a {
    color: inherit;

    &.user-container {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  img{
    height: 50px;
    width: 50px;
  }
}