.navigation {
  background-color: rgba(209, 201, 255, 1);
  display: flex;
  padding: 1.2rem;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  box-sizing:inherit;

  a {
    color: inherit;

    &.user-container {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    
  }
  img{
    height: 50px;
    width: 50px;
  }
}