// @import "../../styles/colors.scss";

.styled-button {
  font-size: 16px;
  padding: 10px 16px;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  color: #ffffff;
 
  

  &:hover {
    cursor: pointer;
    background-color: #0056b3;
    text-decoration: underline;
  }

}
.sort-button {
    margin-bottom: 2rem;
    
}
.edit-button, .delete-button, .add-button{
  margin:0.2rem;
  padding: 5px 11px;
  

}
