.login-container {
    height: 100vh;
    background-color: rgba(209, 201, 255, 1);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    
  }
  img{
    width: 90px;
    
  }
  
  .authenticated-container {
    padding: 1.2rem;
    background-image: url(https://thumbs.dreamstime.com/z/seamless-background-theme-tourism-hike-camping-journey-sketch-drawing-hand-vintage-style-cool-backpack-compass-279367726.jpg);
    
  }