.login-container {
    height: 100vh;
    background-color: rgba(209, 201, 255, 1);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    
  }
  img{
    width: 90px;
    
  }
  
  .authenticated-container {
    padding: 1.2rem;
   background-image: url(https://img.freepik.com/free-photo/vibrant-abstract-autumn-leaves_23-2148239681.jpg?w=740&t=st=1688934958~exp=1688935558~hmac=d86e5b37f1ee3238fa30bc7996b5f1e2844b54133591589584cd0a82f0ed509a);
    background-size:cover;
  
    
    box-sizing: content-box;
    min-height: calc(100vh - 1.2rem)
  
   
  }
  